@model string

<div style="color:black" class="panel panel-danger">
    <div class="panel-heading"><span class="label label-danger">Ошибка!</span></div>
    <div class="panel-body">@Model</div>
</div>
